---
import SiteLayout from "@/layouts/SiteLayout.astro";
---

<SiteLayout title="Sobre Nosotros">
  <section class="py-20 px-4 bg-gradient-to-tr from-prish-200/80">
    
    <div class="my-6">
      <h1
        class="text-4xl md:text-6xl underline text-center underline-offset-8 text-prish-300 decoration-wavy"
      >
        ¿Qué Nos Motiva?
      </h1>
    </div>
    <div class="text-xl mx-3 tracking-wider leading-7 my-10 px-3">
      Somos un equipo comprometido con el bienestar integral de las personas. Creemos
      firmemente en la importancia de equilibrar cuerpo, mente y alma para lograr
      un rendimiento óptimo en las actividades diarias. Reconocemos que el entorno
      laboral es donde pasamos la mayor parte de nuestro tiempo, por lo que la comodidad
      y el bienestar en este espacio son esenciales para una vida saludable.
      <br />
      Nuestro servicio de masajes relajantes y descontracturantes está diseñado para
      mejorar la calidad de vida de quienes sufren tensiones y malestares musculares.
      Ofrecemos una experiencia sensorial completa, combinando aromas, sonidos y
      técnicas que alivian las tensiones acumuladas, lo que no solo impacta positivamente
      en la salud física, sino también en la productividad y bienestar general.
      <br />
      Además, fomentamos la práctica de pausas activas durante la jornada laboral, 
      con el objetivo de mejorar la postura, reducir el estrés y potenciar el rendimiento 
      de quienes participan en nuestras sesiones.
    </div>
    <div class="my-6">
      <h1
        class="text-4xl md:text-6xl underline text-center underline-offset-8 text-prish-300 decoration-wavy"
      >
        ¿Quiénes Somos?
      </h1>
    </div>
    <div class="text-xl mx-3 tracking-wider leading-7 my-10 px-3">
      Somos un equipo interdisciplinario de profesionales de la salud, especializados
      en masoterapia, kinesiología y terapia ocupacional. Nuestro enfoque está en
      reconocer las necesidades ergonómicas y posturales de los trabajadores para
      prevenir lesiones y promover hábitos saludables. Trabajamos en conjunto con
      las instituciones para crear espacios laborales más saludables, ofreciendo
      terapias que alivian el estrés físico y emocional.
      <br />
      Nos dedicamos a proporcionar un espacio de confort dentro del entorno laboral,
      ayudando a las personas a recuperarse de tensiones acumuladas y a prevenir
      futuras afecciones. Nuestro objetivo es ofrecer soluciones que mejoren tanto
      la calidad de vida como el rendimiento de los empleados, creando entornos
      más saludables y productivos.
    </div>
  </section>
</SiteLayout>
