<section id="footer" class="mt-8 bg-prish-300/90 text-white">
  <div
    class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
  >
    <a
      class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
    >
      <img
        src="/logo.png"
        alt="Logo For Footer bg-prish-50"
        class="w-20 h-18 rounded-full"
      />
      <span class="ml-3 text-white font-semibold tracking-wide text-xl"
        >AMAUR.</span
      >
    </a>
    <p
      class="text-sm text-white sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
    >
      © 2024 AMAUR —
      <a
        href="//www.amaur.cl"
        target="_blank"
        class="text-white underline underline-offset-4 decoration-wavy ml-1"
        rel="noopener noreferrer">Made By @amaur</a
      >
    </p>
    <span
      class="inline-flex text-white scale-110 text-center mx-1 sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
    >
      "Dedicado a proporcionar salud y bienestar a las personas." ~ AMAUR
      Chile...
    </span>
  </div>
</section>
